.head-wrap{
	width:100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../../images/logo-bg.png);
	/* background: #00A0E9; */
	box-sizing: border-box;
	z-index: 100;
}
.head-wrap .logo{
	display: block;
	width: 212px;
	height: 48px;
	padding-top:23px;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}
.head-wrap .logo img{
	display: block;
	width: 100%;
}
.nav-wrap{
	height: 100px;
	line-height: 100px;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}
.nav-wrap li{
	position: relative;
	float: left;
	padding: 0 25px;
}
.nav-wrap li a{
	display: block;
	color: #444444;
	font-size: 16px;
}
.nav-wrap li a:hover{
	color: #0077c0;
}
.nav-wrap li.active a{
	color: #0077c0;
}
/* 鼠标滑动后缩小 放大 */

.small{
	height:70px;
	width:100%;
	line-height:70px;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}
.small .logo{
	display: block;
	width: 170px;
	height: 48px;
	padding-top:14px;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}
.small .logo img{
	display: block;
	width: 100%;
}
.small .nav-right{
	padding-top: 14px;
}
.small .nav-wrap{
	height:70px;
	line-height:70px;
}
/* 鼠标滑动css结束 */


.nav-right {
	padding-top:28px;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}
.nav-right li{
	float: left;
	width: 38px;
	height: 38px;
	border: 1px solid #444444;
	margin-left: 20px;
	line-height: 38px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	overflow: hidden;
	text-align: center;
	font-size: 15px;
	user-select: none;
	cursor: pointer;
	transition: .25s;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-ms-transition: .25s;
	-o-transition: .25s;
}
.search-li{
	background: url(../../images/fangda.png) no-repeat center center/24px;
}
.list-li{
	background: url(../../images/icon-li.png) no-repeat center center/24px;
}
.nav-right li:hover{
	border-color:#0077c0;
	color:#0077c0;
}
.search-li:hover{
	background-image: url(../../images/fangda2.png);
}
.list-li:hover{
	background-image:url(../../images/icon-li2.png);
}
.limibody{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* @m menu */
.nav-menu{
	display: none;
	width: 48px;
	height: 48px;
	background: url(../../images/icon-menu.png) no-repeat center center/80%;
}
.nav-menu.menuClose {
	
	background-image: url(../../images/icon-menu-close.png);
	background-size: 100%;
}

/* 下拉列表 */
.nav-wrap li a b {
	position: relative;
	top: -2px;
	display: block;
	width: 0px;
	margin: 0 auto;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	border-bottom: 2px solid #0280bb;
}

.nav-wrap li:hover>a b {
	width: 100%;
}

.second-nav-wrap {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -57px;
	width: 114px;
	overflow: hidden;
	display: none;
	/* transition: .6s; */
}

.w2 {
	width: 200px;
	margin-left: -100px;
}

.nav-wrap .second-nav {
	padding: 10px 15px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .6);
}

.nav-wrap .second-nav-wrap i {
	content: '';
	display: block;
	margin: 0 auto;
	width: 12px;
	height: 9px;
	background: transparent url(../../images/second-nav.png) no-repeat center center/cover;
}

.nav-wrap .second-nav a {
	position: relative;
	display: block;
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff !important;
	font-size: 14px;
	overflow: hidden;
}

.nav-wrap .second-nav a:hover {
    color: #fff;
    text-decoration: underline;
}
.nav-wrap :hover .second-nav-wrap{
	/* height: auto; */
	/* display: block;	
	transition: .6s; */
	
}
/* 侧边栏导航 */
.side-nav-wrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background:url(../../images/opacity-30.png);
	z-index: -1;
	opacity: 0;
}
.side-nav {
    position: fixed;
    right: -600px;
    top: 0;
    width: 600px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 5px 14px 3px #f2f2f2 inset;
    z-index: 100
}

.side-nav-h1 {
    height: 100px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 42px 42px 0;
    color: #444444;
    font-size: 22px;
    box-sizing: border-box;
}

.close {
    width: 22px;
    height: 22px;
    background: url(../../images/icon-close.png) no-repeat center center/cover;
    cursor: pointer;
}

.side-con {
    padding: 38px 0 0 70px;
}

.side-con dl {
    float: left;
    width: 140px;
    height: 158px;
    margin-bottom: 50px;
}

.side-con dl.w200 {
    width: 200px
}

.side-con dl.w160 {
    width: 160px
}

.side-con dl dt {
    position: relative;
    height: 16px;
    padding-left: 10px;
    margin: 0 0 20px -10px;
    line-height: 16px;
    font-size: 15px;
    font-weight: bold;
}

.side-con dl dt::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 14px;
    background-color: #0077c0;
}

.side-con dl dd {
    line-height: 25px;
    font-size: 14px;
    color: #707070;
}


/* ipad 手机端 */
.modal-bg{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 98;
	width: 100%;
	height: 686px;
	top: 54px;
	display: none;
	visibility: hidden;
	background: rgba(0, 0, 0, 0.8);
}
.modal-warp{
	display: none;
	visibility: hidden;
	position: absolute;
	left: 0;
	width: 100%;
	height: 686px;
	top: 54px;
	z-index: 1;
	opacity: 0;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}
.modal-warp ul li{
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	padding: 0 18px;
	border-bottom: 1px solid #0082D9;
	background: #006FBC;
	line-height: 49px;
	transition: transform 0.5s, opacity 0.5s;
}
.modal-warp ul li:first-child{
	transform: translate3d(0, 0, 0);
}
.modal-warp ul li:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}  
.modal-warp ul li:nth-child(3) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.modal-warp ul li:nth-child(4) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.modal-warp ul li:nth-child(5) {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}
.modal-warp ul li a{
	position: relative;
	display: block;
	width: 85%;
	font-size: 16px;
	line-height: 48px;
	color: white;
}
.modal-warp ul li span i{
	position: absolute;
	top: 20px;
	right: 16px;
	display: inline-block;
	width: 18px;
	height: 17px;
	background: url(../../images/icon-sq.png) no-repeat;
	background-size: auto;
	background-size: 100%;
	transition: all .3s ease;
}
.open{
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	z-index: 99999;
}
.menuson{
	display: none;
	margin-left: 20px;
}
.menuson a{
	    display: block;
	    line-height: 43px;
	    font-size: 16px;
}
.modal-warp ul li a.modal-a1.msq+i.ico{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	top: 20px;
}

/* 教育科技 */
 .edutechnology-banner {
    padding-top: 100px;
}
.edutechnology-banner .banimg {
    display: block;
    width: 100%;
}
.blings {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 400px;
    width: 30%;
    height: 100%;
}
.blings i {
    position: absolute;
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 0 10px 3px rgba(41,164,246,.20);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: blings .8s ease-in-out infinite alternate;
    -webkit-animation: blings .8s ease-in-out infinite alternate;
}
.blings i:first-of-type {
    top: 24%;
    left: 0;
    width: 4px;
    height: 4px;
}
.blings i:nth-child(2) {
    top: 27%;
    left: 32%;
    width: 5px;
    height: 5px;
    animation-delay: .5s;
}
.blings i:nth-child(3) {
    top: 35%;
    left: 57%;
    width: 5px;
    height: 5px;
    animation-delay: .8s;
}
.blings i:nth-child(3) {
    top: 35%;
    left: 57%;
    width: 5px;
    height: 5px;
    animation-delay: .8s;
}
.blings i:nth-child(5) {
    top: 50%;
    left: 60%;
    width: 3px;
    height: 3px;
    animation-delay: .6s;
}
.blings i:nth-child(6) {
    top: 58%;
    left: 30%;
    width: 6px;
    height: 6px;
}
.blings i:nth-child(7) {
    top: 65%;
    left: 70%;
    width: 4px;
    height: 4px;
    animation-delay: .5s;
}
.blings i:nth-child(7) {
    top: 65%;
    left: 70%;
    width: 4px;
    height: 4px;
    animation-delay: .5s;
}
.blings i:nth-child(7) {
    top: 65%;
    left: 70%;
    width: 4px;
    height: 4px;
    animation-delay: .5s;
}
.blings i:nth-child(10) {
    bottom: 5%;
    left: 0;
    width: 2px;
    height: 2px;
}
.blings i:nth-child(11) {
    top: 36%;
    left: 23%;
    width: 4px;
    height: 4px;
}
.blings i:nth-child(12) {
    top: 76%;
    left: 32%;
    width: 5px;
    height: 5px;
    animation-delay: .5s;
}
.blings i:nth-child(13) {
    top: 65%;
    left: 52%;
    width: 5px;
    height: 5px;
    animation-delay: .8s;
}
.blings i:nth-child(14) {
    top: 85%;
    left: 60%;
    width: 3px;
    height: 3px;
}
.blings i:nth-child(15) {
    top: 90%;
    left: 30%;
    width: 3px;
    height: 3px;
    animation-delay: .6s;
}
.blings i:nth-child(16) {
    top: 48%;
    left: 43%;
    width: 6px;
    height: 6px;
}
.blings i:nth-child(17) {
    top: 88%;
    left: 76%;
    width: 4px;
    height: 4px;
    animation-delay: .5s;
}
.blings i:nth-child(18) {
    top: 82%;
    left: 38%;
    width: 4px;
    height: 4px;
}
.blings i:nth-child(19) {
    top: 70%;
    left: 3%;
    width: 3px;
    height: 3px;
    animation-delay: .2s;
}
.blings i:nth-child(20) {
    bottom: 3%;
    left: 14%;
    width: 2px;
    height: 2px;
}
@keyframes blings{
  from{
  background-color: rgba(255,255,255,.9); 
  background-color: rgba(125,227,251,.9);
  box-shadow: 0 0 10px 3px rgba(41,164,246,.20);
  }
  100%{
    width: 6px;
    height: 6px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 0 14px 3px rgba(255,255,255,.9);
  }
}
.edutechnology-banner .bantxt {
    position: absolute;
    top: 88px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 1200px;
    height: 99px;
}
.edutechnology-banner .bantxt h2 {
    height: 58px;
    margin-bottom: 4px;
    line-height: 58px;
    color: #fff;
    font-size: 40px;
    text-shadow: 0 0 8px rgba(0,0,0,.8);
    font-weight: bold;
    letter-spacing: 10px;
}
.edutechnology-banner .bantxt p {
    color: #fff;
    font-size: 18px;
    text-shadow: 0 0 8px rgba(0,0,0,.8);
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* AI */
.edu-ailab {
    padding: 150px 0 120px;
}
.edu-ailab .l {
    left: -90px;
}
.edu-ailab .l {
    position: absolute;
    top: 0;
    left: -30px;
}
.line {
    position: absolute;
    right: 44%;
    top: 165px;
    width: 21px;
    height: 312px;
    background: url(../../images/education/ailab-line1.png) no-repeat left top;
    animation: line 1.4s linear infinite alternate;
    
}

@keyframes line{
  from{
    top: 0;
    opacity: 0;
  }
  100%{
    top: 165px;
    opacity: 1;
  }
}
.edu-ailab .l .line:nth-child(2) {
    right: 36%;
    top: 114px;
    animation-name: line2;
}
@keyframes line2{
  from{
    top: 0;
    opacity: 0;
  }
  100%{
    top: 114px;
    opacity: 1;
  }
}
.edu-ailab .l .line:nth-child(3) {
    right: 31%;
    top: 1px;
    animation-name: line3;
}
@keyframes line3{
  from{
    top: -10px;
    opacity: 0;
  }
  100%{
    top: 50px;
    opacity: 1;
  }
}
.edu-ailab .l .line:nth-child(4) {
    right: 24%;
    top: 202px;
    animation-name: line4;
}
@keyframes line4{
  from{
    top: 0;
    opacity: 0;
  }
  100%{
    top: 202px;
    opacity: 1;
  }
}
.edu-ailab .l .line:nth-child(5) {
    right: 19%;
    top: 141px;
    animation-name: line5;
}
@keyframes line5{
  from{
    top: 0;
    opacity: 0;
  }
  100%{
    top: 141px;
    opacity: 1;
  }
}
.edu-ailab .l .line:nth-child(6) {
    right: 14%;
    top: 200px;
    animation-name: line6;
}
@keyframes line6{
  from{
    top: 0;
    opacity: 0;
  }
  100%{
    top: 200px;
    opacity: 1;
  }
}

.edu-ailab .l .sq {
    position: absolute;
    right: 20%;
    top: 239px;
    width: 201px;
    height: 196px;
    background: url(../../images/education/ailab-sq2.png) no-repeat left top;
    animation: sq 1.4s linear infinite alternate;
    -webkit-animation: sq 1.4s linear infinite alternate;
}

.edu-ailab .l .hand {
    animation: hand 1.4s ease-in-out infinite alternate;
    -webkit-animation: hand 1.4s ease-in-out infinite alternate;
    transform-origin: left center;
}
@keyframes hand{
  from{
    transform:rotate(0);
    -webkit-transform:rotate(0);
    -moz-transform:rotate(0);
    -ms-transform:rotate(0);
    -o-transform:rotate(0);
    -webkit-transform: rotate(0);
  }
  100%{
    transform:rotate(-5deg);
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}
}
.edu-ailab .r {
    width: 50%;
    padding-top: 30px;
}
.edu-ailab .r {
    width: 50%;
    padding-top: 30px;
}
.edu-ailab .r p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 32px;
    color: #333;
    word-break: break-all;
}

/* 脑科学实验室 */
.edu-brain, .edu-brain .limit-wid {
    position: relative;
    z-index: 1;
}
.edu-brain {
    padding: 80px 0;
    background: #116ed9 url(../../images/education/brain-bg2.png) no-repeat left bottom;
    text-align: center;
}
#waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
    z-index: 0;
    background-color: #0f6cd7;
}
.edu-brain .limit-wid {
    max-width: 800px;
    margin: 0 auto;
}
.edu-brain .edutechnology-tit {
    margin-bottom: 40px;
}
.edu-brain .edutechnology-tit, .edu-live .edutechnology-tit, .edu-bigdata .edutechnology-tit {
    margin-bottom: 80px;
    line-height: 50px;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.edu-brain .txt1 {
    margin-bottom: 18px;
    line-height: 24px;
    font-size: 18px;
    color: #fff;
}
.edu-brain .txt2 {
    line-height: 24px;
    font-size: 14px;
    color: #fff;
}

.edu-brain ul {
    margin-top: 55px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    overflow: hidden;
}
.edu-brain ul li:first-of-type {
    padding: 0;
}
.edu-brain ul li {
    float: left;
    width: 27%;
    margin-right: 6%;
    padding: 0 3%;
	z-index: 1111;
}
.edu-brain ul li img {
    display: block;
    margin: 0 auto 40px;
}
.edu-brain ul li h4 {
    height: 24px;
    margin-bottom: 7px;
    line-height: 24px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
}
.edu-brain ul li p {
    line-height: 36px;
    color: #fff;
    font-size: 14px;
}
/* 轮播一 */
.edu-bigdata {
    padding: 100px 0 130px;
    background: url(../../images/education/edu-bluebg.jpg) no-repeat left bottom;
}
.edu-bigdata .edutechnology-tit {
    color: #333333;
}
.edu-bigdata .edutechnology-tit {
    color: #333333;
}
.edu-bigdata .edutechnology-tit {
    color: #333333;
}
.edu-bigdata .edutechnology-tit {
    color: #333333;
}
.edu-bigdata .edutechnology-tit {
    margin-bottom: 80px;
    line-height: 50px;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.bigdata-vd2 {
    margin-top: 60px !important;
}
.bigdata-vd {
    width: 1346px;
    height: 522px;
    margin: 0 auto;
        margin-top: 0px;
    box-shadow: 0 0 21px 3px rgba(204, 204, 204, .67);
    background-color: #fff;
}
.bigdata-vd {
    width: 1346px;
    height: 522px;
    margin: 0 auto;
        margin-top: 0px;
    box-shadow: 0 0 21px 3px rgba(204, 204, 204, .67);
    background-color: #fff;
}
.bigdata-vd {
    width: 1346px;
    height: 522px;
    margin: 0 auto;
        margin-top: 0px;
    box-shadow: 0 0 21px 3px rgba(204, 204, 204, .67);
    background-color: #fff;
}
.bigdata-vd {
    width: 1346px;
    height: 522px;
    margin: 0 auto;
        margin-top: 0px;
    box-shadow: 0 0 21px 3px rgba(204, 204, 204, .67);
    background-color: #fff;
}
.bigdata-vd .r h3 {
    margin-bottom: 40px;
    height: 26px;
    line-height: 26px;
    font-size: 24px;
    overflow: hidden;
}
.bigdata-vd .r h4 {
    margin-bottom: 35px;
    max-height: 48px;
    line-height: 24px;
    font-size: 20px;
    overflow: hidden;
}
.bigdata-vd .r p {
    margin-bottom: 35px;
    max-height: 210px;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
        overflow-y: hidden;
    word-break: break-all;
}
.bigdata-vd .swiper-button-prev {
    left: auto;
    right: 576px;
}
.bigdata-vd .swiper-button-prev, .bigdata-vd .swiper-button-next {
    top: auto;
    bottom: 62px;
    margin-top: 0;
}
.public-vd2 .swiper-button-prev, .bigdata-vd .swiper-button-prev {
    left: -50px;
    background-image: url(../images/icon-blue-l.png);
}
.public-vd2 .swiper-button-prev, .public-vd2 .swiper-button-next, .bigdata-vd .swiper-button-prev, .bigdata-vd .swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-size: 60%;
}
.bigdata-vd .swiper-button-next {
    left: auto;
    right: 535px;
}

.bigdata-vd .swiper-button-prev, .bigdata-vd .swiper-button-next {
    top: auto;
    bottom: 62px;
    margin-top: 0;
}
.public-vd2 .swiper-button-next, .bigdata-vd .swiper-button-next {
    right: -50px;
    background-image: url(../images/icon-blue-r.png);
}
.edu-bigdata .edutechnology-tit {
    color: #333333;
}

.bigdata-vd2 {
    margin-top: 60px !important;
}
.bigdata-vd {
    width: 1346px;
    height: 522px;
    margin: 0 auto;
        margin-top: 0px;
    box-shadow: 0 0 21px 3px rgba(204, 204, 204, .67);
    background-color: #fff;
}
.bigdata-vd .l {
    width: 562px;
    width: 810px;
    height: 100%;
}

.bigdata-vd .l img {
    display: block;
    width: 100%;
    height: 100%;
}
.bigdata-vd .r {
    width: 782px;
    width: 534px;
    padding: 40px 30px 0 50px;
    color: #000;
    box-sizing: border-box;
}
.bigdata-vd .r h3 {
    margin-bottom: 40px;
    height: 26px;
    line-height: 26px;
    font-size: 24px;
    overflow: hidden;
}
.bigdata-vd .r h4 {
    margin-bottom: 35px;
    max-height: 48px;
    line-height: 24px;
    font-size: 20px;
    overflow: hidden;
}
.bigdata-vd .r p {
    margin-bottom: 35px;
    max-height: 210px;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
        overflow-y: hidden;
    word-break: break-all;
}
.bigdata-vd .swiper-button-prev {
    left: auto;
    right: 576px;
}
.bigdata-vd .swiper-button-prev, .bigdata-vd .swiper-button-next {
    top: auto;
    bottom: 62px;
    margin-top: 0;
}
.public-vd2 .swiper-button-prev, .bigdata-vd .swiper-button-prev {
    /* left: -50px; */
    background-image: url(../../images/education/icon-blue-l.png);
}
.bigdata-vd .swiper-button-next {
    left: auto;
    right: 535px;
}
.bigdata-vd .swiper-button-prev, .bigdata-vd .swiper-button-next {
    top: auto;
    bottom: 62px;
    margin-top: 0;
}
.public-vd2 .swiper-button-next, .bigdata-vd .swiper-button-next {
    /* right: -50px; */
    background-image: url(../../images/education/icon-blue-r.png);
}







/* 尾部 */
.foot-wrap {
    padding: 64px 0 10px;
}
.foot-ul {
    margin-bottom: 85px;
}
.foot-ul dl{
    float: left;
    width: 226px;
}
.foot-ul dl:last-of-type {
    width: 70px;
	float: left;
}
.foot-ul dl dt {
    height: 32px;
    margin-bottom: 10px;
    line-height: 32px;
    font-size: 16px;
}
.foot-ul dl dd {
    height: 28px;
    padding-right: 10px;
    line-height: 28px;
    font-size: 14px;
    overflow: hidden;
}
.foot-ul dl dd a {
    color: #666666;
}
.lest-foot{
	height: 58px;
	border-top: 1px solid #dfdfdf;
	line-height: 58px;
	font-size: 16px;
	color: #999999;
}
.site-foot > .fl > a {
    padding: 0 22px;
    color: #999999;
    font-size: 14px;
}
.icon-wchat {
    width: 26px;
    background: url(../../images/icon-wchat.png);
}
.icon-wchat, .icon-sina {
    display: inline-block;
    height: 21px;
    margin-left: 20px; 
    vertical-align: middle;
}
.lest-foot > .fl > a {
    padding: 0 22px;
    color: #999999;
    font-size: 14px;
}
.icon-sina {
    width: 27px;
    background-image: url(../../images/icon-sina.png);
}
.lest-foot .wechatT {
    display: none;
    position: absolute;
    top: -173px;
    left: -70px;
    z-index: 99;
    width: 160px;
    height: 160px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    background: #fff;
    border-radius: 5px;
}
.wechatT p{
	padding: 0 6px;
	font-size: 12px;
	color: #333;
	text-align: center;
	line-height: 18px;
}
.lest-foot .weixins {
    display: block;
    width: 110px;
    margin: 6px auto 0;
}
.icon-wchat:hover .wechatT{
	display: block;
}

.gotop {
    display: none;
    position: fixed;
    right: 120px;
    bottom: 120px;
    margin: auto;
    width: 80px;
    height: 80px;
    /* background: #f4f4f4 url(../images/icon-gotop.png) no-repeat center center/32px; */
	background: #F4F4F4 url(../../images/icon-gotop.png) no-repeat center center/32px;
    box-shadow: 0 5px 14px 3px rgba(0, 0, 0, .18);
    z-index: 10;
    cursor: pointer;
}

/* 1680px */
@media (max-width:1680px) {
	.edu-ailab .l {
	    left: -90px;
	}
	.gotop {
	    right: 40px;
	    bottom: 90px;
	}
}
@media (max-width:1550px) {
	.edu-ailab .l {
	    left: -140px;
	}
	

}
@media (max-width:1440px){
	.edu-ailab {
	    padding: 126px 0 120px;
	}
	.bigdata-vd {
	    width: 1200px;
	    height: 492px;
	}
	.bigdata-vd .l {
	    width: 530px;
	    width: 730px;
	}
	.bigdata-vd .l {
	    width: 530px;
	    width: 730px;
	}
	.bigdata-vd {
	    width: 1200px;
	    height: 492px;
	}
	.gotop {
	    background-color: rgba(244,244,244,.8);
	}
}

/* 1220px */
@media (max-width:1220px){
	  .width-align{
	    width:1000px;
}
	
	  .nav-wrap li{
	    padding: 0 15px;
	  }
	  .nav-right .list-li{
	    display: none;
	  }
	  .nav-right li{
	    margin-left: 15px;
	  }
	.edutechnology-banner .bantxt {
	    width: 1000px;
		}
		.edu-ailab .l {
		    left: -275px;
		}
		/* 轮播 */
		.bigdata-vd {
		    width: 1000px;
		    height: 400px;
		}
		.bigdata-vd .l {
		    width: 530px;
		    width: 575px;
		}
		.bigdata-vd .l {
		    width: 530px;
		    width: 730px;
		}
		.bigdata-vd .swiper-button-prev, .bigdata-vd .swiper-button-next {
		    bottom: 30px;
		}
		.bigdata-vd .swiper-button-prev {
		    right: 468px;
		}
		.bigdata-vd .swiper-button-next {
		    right: 425px;
		}
		.bigdata-vd .swiper-button-prev, .bigdata-vd .swiper-button-next {
		    bottom: 30px;
		}
		.bigdata-vd {
		    width: 1000px;
		    height: 400px;
		}

	/* 尾部 */
	.foot-ul {
	    margin-bottom: 60px;
	}
	.foot-ul dl {
	    width: 186px;
	}
	.gotop {
	    right: 30px;
	    bottom: 70px;
	}
}
/* 1024px */
@media screen and (max-width:1024px){
		.width-align{
			width: 800px;
	    }
	    .head-wrap .logo {
			margin-right: 100px;
	    }
	    .nav-wrap li {
			padding: 0px 10px;
	    }
	    .nav-right{
			display: none;
	    }
		.edutechnology-banner .bantxt {
		    width: 800px;
		}
		.edu-ailab .l {
		    left: -320px;
		}
		.edu-ailab .r {
		    position: relative;
		    z-index: 1;
		    width: 70%;
		    padding: 40px;
		    background-color: rgba(255,255,255,.8);
		}
		/* 轮播 */
		.bigdata-vd {
		    width: 800px;
		    height: 307px;
		}
		.bigdata-vd .l {
		    width: 430px;
		}
		.bigdata-vd .r {
		    width: 370px;
		    padding: 25px 15px 0 15px;
		}
		.bigdata-vd .r h3 {
		    margin-bottom: 15px;
		}
		.bigdata-vd .r h4 {
		    margin-bottom: 10px;
		}
		.bigdata-vd .swiper-button-prev {
		    right: 385px;
		}
		.bigdata-vd .swiper-button-next {
		    right: 343px;
		}
		.bigdata-vd {
		    width: 800px;
		    height: 307px;
		}

		
		/* 尾部 */
		.foot-ul dl {
		    width: 146px;
		}
		.lest-foot{
		    height: auto;
		    line-height: 45px;
		}
		.lest-foot > .fl, .lest-foot > .fr {
		    float: none;
		    display: block;
		    text-align: center;
			
		}
		.lest-foot > .fl > a {
		    padding: 0 15px;
		}
		.lest-foot .fr p, .site-foot > .fr > div {
		    float: none;
		    display: inline-block;
		}
		.last-l{
			float: none;
		}
		.gotop {
		    width: 70px;
		    height: 70px;
		}
		
		
	}

		

/* 980px */
@media screen and (max-width:980px) {
    .width-align {
        /* width: 98% !important; */
    }
	.width-align {
	    width: 800px !important;
	}

}
/* 860px */
@media screen and (max-width:860px) {
	.width-align {
		width: 100%;
		padding: 0 15px;
		box-sizing: border-box;
	    }
	    .head-wrap {
	        height: 54px !important;
	        padding: 8px 0 !important;
	    }
	    .head-wrap .logo {
	        width: 170px !important;
	        height: 39px;
	        margin-right: 0;
	        padding-top: 0!important;
	    }
	    .nav-menu {
	        width: 30px;
	        height: 30px;
	        margin-top: 6px;
			display: block;
			cursor: pointer;
	    }
	    .nav-wrap {
	        display: none;
	    }
		/* iPad 手机端 */
		.modal-warp{
			display: block;
		}
		.modal-bg{
			display: block;
		}
		.menuClose{
			display: block;
		}
		.edu-ailab {
		    padding: 126px 0 175px;
		}
		.fix-width {
		    width: 100%;
		    padding: 0 10px;
		    box-sizing: border-box;
		}
		.edu-ailab .l {
		    left: -315px;
		}
		.edu-ailab .r {
		    width: 82%;
		    box-sizing: border-box;
		}
		 .edutechnology-banner .bantxt {
		    width: 100%;
		    padding: 0 10px;
		    box-sizing: border-box;
		}
		 .edutechnology-banner {
		    padding-top: 54px;
		}
		/* 轮播 */
		.edu-bigdata {
		    padding: 50px 0 90px;
		    background-size: 150%;
		}
		.bigdata-vd {
		    width: 97%;
		    height: 300px;
		    margin: 0 auto;
		}
		.bigdata-vd .l {
		    position: relative;
		    width: 53%;
		    height: 100%;
		    overflow: hidden;
		}
		.bigdata-vd .l img {
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		        margin-left: auto;
		    margin-left: -10px;
		    width: 107%;
		    height: auto;
		}
		.bigdata-vd .r {
		    width: 47%;
		}
		.bigdata-vd .swiper-button-prev {
		    right: 46%;
		}
		.bigdata-vd .swiper-button-next {
		    right: 40%;
		}
		


		/* 尾部 */
		.foot-ul {
		    display: none;
		}
		.lest-foot {
		    border-top: 0;
		}
		.foot-wrap {
		    padding: 10px 0 10px;
		}
}
/* 768px */
@media screen and (max-width:768px){
	.width-align {
		width: 100% !important;
		padding: 0 15px;
		box-sizing: border-box;
	    }
	    .head-wrap {
	        height: 54px !important;
	        padding: 8px 0 !important;
	    }
	    .head-wrap .logo {
	        width: 170px !important;
	        height: 39px;
	        margin-right: 0;
	        padding-top: 0!important;
	    }
	    .nav-menu {
	        width: 30px;
	        height: 30px;
	        margin-top: 6px;
			display: block;
			cursor: pointer;
	    }
	    .nav-wrap {
	        display: none;
	    }
		/* iPad 手机端 */
		.modal-warp{
			display: block;
		}
		.modal-bg{
			display: block;
		}
		.menuClose{
			display: block;
		}
		 .edutechnology-banner {
		    padding-top: 54px;
		}
		 .edutechnology-banner .bantxt {
		    top: 70px;
		}
		.edutechnology-banner .bantxt h2 {
		    height: 45px;
		    line-height: 45px;
		    font-size: 28px;
		}
		.edutechnology-banner .bantxt p {
		    font-size: 16px;
		    letter-spacing: 2px;
		}
		.edu-ailab {
		    padding: 50px 0 50px;
		}
		.edu-ailab .l {
		    display: none;
		}
		.edu-ailab .r {
		    float: none;
		    width: 100%;
		    padding: 0;
		}
		/* 轮播 */
		.edu-bigdata {
		    background-size: 170%;
		}
		.bigdata-vd .r {
		    padding: 20px;
		}
		.bigdata-vd .r h3 {
		    margin-bottom: 10px;
		    font-size: 22px;
		}
		.bigdata-vd .r h4 {
		    margin-bottom: 6px;
		    font-size: 18px;
		}
		.bigdata-vd .swiper-button-prev {
		    right: 46%;
		}
		.bigdata-vd .swiper-button-prev, .bigdata-vd .swiper-button-next {
		    bottom: 18px;
		}
		.bigdata-vd .swiper-button-prev, .bigdata-vd .swiper-button-next {
		    bottom: 18px;
		}
		.bigdata-vd .swiper-button-next {
		    right: 39%;
		}

			
			/* 尾部 */
			.last-l{
				float: left;
			}
}
/* 680px */
@media screen and (max-width:680px) {
	.gotop {
			    width: 70px;
			    height: 70px;
			}
}
/* 600px */
@media screen and (max-width:600px) {

	.bigdata-vd {
	    position: relative;
	    width: 95%;
	    box-shadow: 0 0 13px 2px rgba(204, 204, 204, .67);
	}
	.bigdata-vd .l {
	    width: 100%;
	}
	.bigdata-vd .r {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    width: 100%;
	    padding: 30px 20px 20px;
	    background-color: rgba(255, 255, 255, 0.9);
	}
	.bigdata-vd .l {
	    width: 100%;
	}
	.bigdata-vd .r {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    width: 100%;
	    padding: 30px 20px 20px;
	    background-color: rgba(255, 255, 255, 0.9);
	}
	.bigdata-vd .r p {
	    line-height: 24px;
	    overflow-y: scroll;
	}
	
	.bigdata-vd .swiper-button-prev {
	    right: auto;
	    left: 35%;
	}
	.bigdata-vd .swiper-button-prev, .bigdata-vd .swiper-button-next {
	    bottom: 10px;
	    background-color: #ffffff;
	}
	.bigdata-vd .swiper-button-next {
	    right: 35%;
	}
	.bigdata-vd .swiper-button-prev, .bigdata-vd .swiper-button-next {
	    bottom: 10px;
	    background-color: #ffffff;
	}
		/* 尾部 */
		.last-l{
			float: none;
		}
		.gotop {
		    width: 60px;
		    height: 60px;
		}
}
/* 560px */
@media screen and (max-width:560px) {
	.edutechnology-banner {
	    padding-top: 0;
	}
	.edutechnology-banner {
	    padding-top: 0;
	}
	.edutechnology-banner .bantxt {
	    display: none;
	    top: 12px;
	}
	.edu-brain ul {
	    display: block;
	}
	.edu-brain ul li, .edu-brain ul li:last-of-type {
	    width: 100%;
	    margin-bottom: 30px;
	    margin-right: 0;
	    padding-left: 0;
	    padding-right: 0;
	}
	.edu-brain ul li img {
	    display: block;
	    margin-bottom: 10px;
	}
	.gotop {
	    width: 50px;
	    height: 50px;
	    background-size: 26px;
	}
	 
}

